<div fxLayout="column" fxFill>
  <div fxFlex="33"></div>
  <div fxFlex>
    <div fxLayout="row" fxFill>
      <div fxFlex="33"></div>
      <div fxFlex>
        <mat-card>
          <form #RegisterForm="ngForm" (ngSubmit)="Register(player)">
            <mat-card-header>
              <mat-card-title>User Register</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <mat-form-field floatLabel="auto" appearance="outline" fxFill>
                <mat-label>User Name</mat-label>
                <input matInput type="text" id="username" name="username" #username="ngModel"
                  [(ngModel)]="player.UserName" (keyup)="Reset()" required>
                <mat-hint align="end">{{checkNameResult.info}}</mat-hint>
              </mat-form-field>
              <mat-form-field floatLabel="auto" appearance="outline" fxFill>
                <mat-label>Password</mat-label>
                <input matInput type="password" id="password" name="password" #password="ngModel"
                  [(ngModel)]="player.Password_" required>
                <mat-hint align="end" *ngIf="password.value != password2.value && password2.value.length > 0">Passwords
                  do not match!</mat-hint>
              </mat-form-field>
              <mat-form-field floatLabel="auto" appearance="outline" fxFill>
                <mat-label>Password (Again)</mat-label>
                <input matInput type="password" id="password2" name="password2" #password2="ngModel"
                  [(ngModel)]="passwordAgain" required>
              </mat-form-field>
              <mat-form-field floatLabel="auto" appearance="outline" fxFill>
                <mat-label>E-Mail</mat-label>
                <input matInput type="email" id="email" name="email" #email="ngModel" [(ngModel)]="player.Email"
                  required>
                <mat-hint align="end" *ngIf="email.value != email2.value && email2.value.length > 0">E-mails do not
                  match!</mat-hint>
              </mat-form-field>
              <mat-form-field floatLabel="auto" appearance="outline" fxFill>
                <mat-label>E-Mail (Again)</mat-label>
                <input matInput type="email" id="email2" name="email2" #email2="ngModel" [(ngModel)]="emailAgain"
                  required>
              </mat-form-field>
              <mat-form-field floatLabel="auto" appearance="outline" fxFill>
                <mat-label>Nickname</mat-label>
                <input matInput type="text" id="nickname" name="nickname" #nickname="ngModel"
                  [(ngModel)]="player.Nickname" required>
              </mat-form-field>
              <button mat-raised-button type="submit"
                [disabled]="RegisterForm.invalid || password.value != password2.value || email.value != email2.value"
                fxFill>Register</button>
            </mat-card-content>
          </form>
        </mat-card>
      </div>
      <div class="item6" fxFlex="33"></div>
    </div>
  </div>
  <div class="item7" fxFlex="33"></div>
</div>