<mat-sidenav-container>
  <mat-sidenav mode="push" [(opened)]="isSidenavActive">
    Sidenav
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" *ngIf="">
      <div>
        <span>The Last Raid MMO</span>
      </div>
      <div>
        <button mat-icon-button (click)="isSidenavActive = !isSidenavActive">
          <mat-icon>menu</mat-icon>
        </button>
      </div>gdfgfdhfdfdhfdhdf
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>