<mat-sidenav-container>
  <mat-sidenav mode="push" [(opened)]="isSidenavActive">
    <mat-nav-list>
      <mat-list-item (click)="isSidenavActive = false"><a [routerLink]="['']">Home</a></mat-list-item>
      <mat-list-item (click)="isSidenavActive = false"><a [routerLink]="['about']">About</a></mat-list-item>
      <mat-list-item (click)="isSidenavActive = false"><a [routerLink]="['news']">News</a></mat-list-item>
      <mat-list-item (click)="isSidenavActive = false"><a [routerLink]="['screenshots']">Screenshots</a></mat-list-item>
      <mat-list-item (click)="isSidenavActive = false"><a [routerLink]="['rules']">Rules</a></mat-list-item>
      <mat-list-item (click)="isSidenavActive = false"><a [routerLink]="['contact']">Contact</a></mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar *ngIf="!onMobile" class="navbar">
      <div>
        <a href="">The Last Raid MMO</a>
      </div>
      <div>
        <nav mat-tab-nav-bar>
          <a mat-tab-link [routerLink]="['']">Home</a>
          <a mat-tab-link [routerLink]="['about']">About</a>
          <a mat-tab-link [routerLink]="['news']">News</a>
          <a mat-tab-link [routerLink]="['screenshots']">Screenshots</a>
          <a mat-tab-link [routerLink]="['rules']">Rules</a>
          <a mat-tab-link [routerLink]="['contact']">Contact</a>
        </nav>
      </div>
    </mat-toolbar>
    <mat-toolbar *ngIf="onMobile" class="navbar">
      <div>
        <button mat-icon-button (click)="isSidenavActive = true">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div>
        <span>The Last Raid MMO</span>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>