<mat-sidenav-container>
  <mat-sidenav mode="push" [(opened)]="isSidenavActive">
    Sidenav
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" *ngIf="!onMobile" class="navbar">
      <div>
        <span>The Last Raid MMO</span>
      </div>
      <div>
        <span>Home</span>
        <span>About</span>
        <span>News</span>
        <span>Rules</span>
        <span>Screenshots</span>
        <span>Contact</span>
      </div>
    </mat-toolbar>
    <mat-toolbar color="primary" *ngIf="onMobile">
      <div>
        <span>The Last Raid MMO</span>
      </div>
      <div>
        <button mat-icon-button (click)="isSidenavActive = !isSidenavActive">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>