.item1 {
    background-color: rgb(180, 155, 12);
}

.item2 {
    background-color: rgb(12, 180, 124);
}

.item3 {
    background-color: rgb(15, 116, 231);
}

.item4 {
    background-color: rgb(146, 15, 10);
}

.item5 {
    background-color: rgb(128, 9, 149);
}

.item6 {
    background-color: rgb(9, 18, 149);
}

.item7 {
    background-color: rgb(12, 245, 70);
}

.item8 {
    background-color: rgb(255, 115, 0);
}