.bg-color1 {
    background-color: rgb(100, 37, 141);
}

.bg-color2 {
    background-color: rgb(170, 119, 0);
}

.bg-color3 {
    background-color: rgb(27, 126, 23);
}

.bg-color4 {
    background-color: rgb(78, 78, 78);
}

.bg-color5 {
    background-color: rgb(97, 44, 34);
}

.bg-color6 {
    background-color: rgb(24, 114, 117);
}

.bg-color7 {
    background-color: rgb(156, 148, 39);
}

.bg-color8 {
    background-color: rgb(112, 63, 30);
}

.bg-color9 {
    background-color: rgb(37, 141, 98);
}

.bg-color10 {
    background-color: rgb(170, 33, 140);
}

.bg-color11 {
    background-color: rgb(55, 62, 168);
}

.bg-color12 {
    background-color: rgb(95, 95, 95);
}

.btn-color1 {
    background-color: rgb(165, 30, 255);
}

.btn-color2 {
    background-color: rgb(223, 156, 0);
}

.btn-color3 {
    background-color: rgb(24, 189, 18);
}

.btn-color4 {
    background-color: rgb(129, 129, 129);
}

.btn-color5 {
    background-color: rgb(138, 52, 35);
}

.btn-color6 {
    background-color: rgb(23, 168, 173);
}

.btn-color7 {
    background-color: rgb(216, 203, 22);
}

.btn-color8 {
    background-color: rgb(189, 100, 40);
}

.btn-color9 {
    background-color: rgb(31, 195, 127);
}

.btn-color10 {
    background-color: rgb(233, 33, 190);
}

.btn-color11 {
    background-color: rgb(73, 85, 245);
}

.btn-color12 {
    background-color: rgb(173, 173, 173);
}

.container {
    padding-top: 20px;
}

.mat-card {
    width: 50%;
}

.mat-card-header {
    display: block;
}

.ml {
    margin-left: 16px;
}

.mat-raised-button {
    width: 150px;
}