.mat-card {
    background-color: rgb(12, 180, 124);
}

.mat-card-header {
    display: block;
}

.mat-icon {
    margin-left: 20px;
}

.mat-raised-button {
    background-color: rgb(11, 231, 158);
    width: 150px;
}